<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <title>shoppee store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    


    <!-- custom css -->
    <link rel="stylesheet" href="{% static  'style/style.css' %}">
</head>


</head>

<body>
    <nav class="fixied">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    
                    <img src="{% static 'assest/synnergyze-removebg.png' %}" alt="Left Logo">
                </a>
        
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fas fa-search" style="font-size: 1.4em;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html" target="_blank">
                                <i class="fas fa-user" style="font-size: 1.4em;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Cart.html" target="_blank">
                                <i class="fas fa-shopping-cart " style="font-size: 1.4em;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container ">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                New In
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdown1">

                                <div class="d-flex align-items-center justify-content-around">
                                    <div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Repeat the structure for other lists -->
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Brands
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>

                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <!-- Repeat the structure for other lists -->
                        <!-- ... List 3 to List 11 ... -->
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown11" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Men
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown11">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>

                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Women
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Kids
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Beauty & Groomimg
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Gourmet
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Watches & Jewellery
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Eyewear
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Featured Stores
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </nav>
    <hr>

    

    


    
        
           



           
    <!-- 6 image top and bootom -->

    <div class="container main-section " >
        <div class="text-center py-2">
            <a href="Details.html" target="_blank" rel="noopener noreferrer">
            <img src="static/assest/Screenshot 2023-11-27 155129.png" alt="">
        </a>
        </div>
        <div class="row pt-5">
            <div class="col-md-2 col-6 mb-3">
                <a href="Details.html" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'assest/49582470561822.jpg' %}" class="img-fluid" alt="">
            </a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="Details.html" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'assest/49582470627358.jpg' %}" class="img-fluid" alt="">
            </a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="Details.html" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'assest/49582470692894.jpg' %}" class="img-fluid" alt="">
            </a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="Details.html" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'assest/49582470758430.jpg' %}" class="img-fluid" alt="">
               
            </a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="Details.html" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'assest/49582470823966.jpg' %}" class="img-fluid" alt="">
            </a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="Details.html" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'assest/49582470889502.jpg' %}" class="img-fluid" alt="">
            </a>
            </div>
        </div>
        <div class="row " style="margin-top: 10rem;">
            <div class="col-md-2 col-6 mb-3">
                <img src="{% static 'assest/49582470561822.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3">
                <img src="{% static 'assest/49582470627358.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3">
                <img src="{% static 'assest/49582470692894.jpg'  %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3">
                <img src="{% static 'assest/49582470758430.jpg'  %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3">
                <img src="{% static 'assest/49582470823966.jpg'  %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3">
                <img src="{% static 'assest/49582470889502.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>


    <!-- 6 image in row section -->
    <div class=" container mt-5">
        <div class="m-auto">
            <img src="static/assest/48932892508190.jpg" alt="">
        </div>

        <div class="pt-3">
            <img src="{% static 'assest/45053315874846.jpg' %}" class="img-fluid" alt="Responsive Image">
        </div>
        <div class=" py-3">
            <img src="{% static 'assest/46297555468318.jpg' %}" class="img-fluid" alt="Responsive Image">
        </div>
        <div class="">
            <img src="{% static 'assest/47247369895966.jpg' %}" class="img-fluid" alt="Responsive Image">
        </div>
        <div class=" py-3">
            <img src="{% static 'assest/48814555070494.png' %}" class="img-fluid" alt="Responsive Image">
        </div>
    </div>

    <div class="container mt-5">
        <div class="m-auto">
            <img src="{% static 'assest/48932892508190.jpg' %}" alt="">
        </div>
        <div class="row pt-5">
            <div class="col-md-2 col-6 ">
                <img src="{% static 'assest/48716067242014.jpg' %}" class="img-fluid " alt="" style="height: 75px;">
            </div>
            <div class="col-md-2 col-6 ">
                <img src="{% static 'assest/49594380288030.jpg' %}" class="img-fluid" alt="" style="height: 75px;">
            </div>
            <div class="col-md-2 col-6 ">
                <img src="{% static 'assest/49594380288030.jpg' %}" class="img-fluid" alt="" style="height: 75px;">
            </div>
            <div class="col-md-2 col-6">
                <img src="{% static 'assest/48716067242014.jpg' %}" class="img-fluid" alt="" style="height: 75px;">
            </div>
            <div class="col-md-2 col-6 ">
                <img src="{% static 'assest/49594380156958.jpg' %}" class="img-fluid" alt="" style="height: 75px;">
            </div>
            <div class="col-md-2 col-6 ">
                <img src="{% static 'assest/49594380091422.jpg' %}" class="img-fluid" alt="" style="height: 75px;">
            </div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="m-auto">
            <img src="{% static 'assest/48927764545566.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="row pt-5 m-auto">
            <div class="col-md-6 m-auto">
                <img src="{% static 'assest/49601693122590.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6  m-auto">
                <img src="{% static 'assest/49601693188126.jpg' %}" class="img-fluid" alt="">
            </div>

            <div class="row pt-5 m-auto">

                <div class="col-md-6 m-auto ">
                    <img src="{% static 'assest/49601693253662.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 m-auto ">
                    <img src="{% static 'assest/49601693319198.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </div>



    <div class="container m-auto">
        <div class="m-auto">
            <img src="{% static 'assest/48932893491230.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="row pt-5 m-auto">
            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470561822.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470627358.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470692894.jpg' %}" class="img-fluid" alt="">
            </div>

            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470823966.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470889502.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>




    <div class="container mt-5 m-auto">
        <div class="m-auto pt-5">
            <img src="{% static 'assest/49601694072862.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="row pt-5 m-auto">

            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470627358.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470692894.jpg' %}" class="img-fluid" alt="">
            </div>

            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470823966.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-2 col-6 mb-3 m-auto">
                <img src="{% static 'assest/49582470889502.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>





    <div class="container mt-5 ">
        <div class="m-auto">
            <img src="{% static 'assest/48459435048990.jpg' %}" alt="">
        </div>
        <div class="row">
            <div class="col-md-12 m-auto">
                <img src="{% static 'assest/48932894310430.jpg' %}" alt="" class="img-fluid">
            </div>

            <div class="col-md-12 m-auto">
                <img src="{% static 'assest/47465821601822.jpg' %}" alt="" class="img-fluid">

            </div>
        </div>
    </div>





    <!-- footer section -->

    <!-- footer    above  section -->
    <main class="footer-above-section mt-5">
        <div class="container pt-4 pb-1">
            <div class="row">
                <!-- Left Side - Select, Search Bar, Button -->
                <div class="col-md-5">
                    <h2 class="text-white">CONNECT WITH US</h2>
                    <p class="text-secondary" style="font-size: 1.5em;">Be the first to know about new products,
                        exclusive collections, latest
                        trends, stories and more.</p>
                    <div class="input-group  ">
                        <select class="custom-control bg-dark text-white border-secondary rounded-left"
                            style="font-size: 2em;">
                            <option selected class="p-4">Men</option>
                            <option value="1" class="p-4">Women</option>

                        </select>
                        <input type="text" class="form-control bg-dark text-secondary outline border-secondary"
                            placeholder="Search" style="font-size: 2em;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary rounded-right roboto-font text-white" type="button"
                                style="font-size: 2em;">Subscribe</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 ">
                    <div class="vertical-line"></div>
                </div>


                <div class="col-md-6 ">
                    <div
                        class="d-flex text-secondary right-secton roboto-font align-items-center justify-content-center mt-4">
                        <div class="col-md-4 d-flex align-items-center flex-column justify-content-center ">
                            <img src="{%static  'assest/foot_autentic_icon.svg' %}" alt="">
                            <h4 class="text-center py-3 ">Authentic and Genuine Brands</h4>
                        </div>
                        <div class=" col-md-4 d-flex align-items-center flex-column justify-content-center ">
                            <img src="{%static  'assest/foot_promise_icon.svg' %}" alt="" class="pb-3">
                            <h4 class="text-center pb-5">Tata Promise</h4>
                        </div>
                        <div class="col-md-4 d-flex align-items-center flex-column justify-content-center">
                            <img src="{%static  'assest/foot_return_icon.svg' %}" alt="">
                            <h4 class="text-center py-3">Easy Returns And Exchanges</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <!-- footer    --  section -->

    <footer class="footer-section">
        <div class="container pt-5">
            <div class="row roboto-font">
                <div class="col-md-2 col-sm-4">
                    <h4>SHOP LUXURY</h4>
                    <ul class="list-section">
                        <li>Men</li>
                        <li>Women</li>
                        <li>Handbags</li>
                        <li>Watches</li>
                        <li>Home</li>
                        <li>Shoes</li>
                        <li>Fragrances</li>
                        <li>Kids</li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h4>SHOP INDILUXE</h4>
                    <ul class="list-section">
                        <li>Men</li>
                        <li>Women</li>
                        <li>Handbags</li>
                        <li>Beauty</li>
                        <li>Watches</li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h4>POPULAR SEARCHES</h4>
                    <ul class="list-section">
                        <li>Lacoste</li>
                        <li>Michael Kors</li>
                        <li>Coach</li>
                        <li>Diesel</li>
                        <li>Watches</li>
                        <li>Armani Exchange</li>
                        <li>Polo Tshirts</li>
                        <li>Wallets</li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h4>USEFUL LINKS</h4>
                    <ul class="list-section">
                        <li>Contact Us</li>
                        <li>FAQ</li>
                        <li>Shipping</li>
                        <li>Cancellation</li>
                        <li>Returns FAQs</li>
                        <li>Terms & Conditions</li>
                        <li>Gift Card T&C</li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h4>DOWNLOAD</h4>
                    <ul class="list-section">
                        <li><img src="{%static  'assest/Screenshot 2023-11-20 205940.png' %}" alt="" class="store-icons"></li>
                        <li><img src="{%static  'assest/Screenshot 2023-11-20 210033.png' %}" alt="" class="store-icons"></li>

                    </ul>
                </div>
                <div class="footer-icons col-md-2 col-sm-4">
                    <h4>FOLLOW US</h4>
                    <ul class="d-flex align-items-center follow-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>






<!-- bootstrap script cdn -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    



</body>

</html>